body {
    padding-top: 76px;
}

nav.navbar {
    background: #FFF;
    border-bottom: 1px solid #bbbbbb;   
}

nav.navbar.have-submenu {
    border-bottom: none;   
}

.navbar.navbar-default.navbar-fixed-top {
	border-bottom: none;
	position: fixed;
	margin-bottom: 0;
}

.navbar.navbar-default.navbar-fixed-top li a {
	z-index: 1002;
	position: relative;
}

.navbar.navbar-default.navbar-fixed-top .line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #BBBBBB;
	z-index: 1000;
}

nav a.logo {
    display: block;
    width: 93px;
    height: 52px;
    background: url('../img/logo.png');
}

nav.navbar .text-right {
    padding-right: 10px;
}

nav.navbar .col-xs-2, nav.navbar .col-xs-10 {
    padding: 0px 10px;   
}

nav.navbar .col-xs-2 a {
    display: block;
    margin: 11px 0px 13px 0px;
}

nav.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    /*max-height: 76px;*/
}

nav.navbar ul li {
    display: block;
}

nav.navbar ul li a {
    margin: 30px 0px 0px 17px;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #6D6E71;
    line-height: 16px;
    display: inline-block;
    text-decoration: none;
    float: right;
    border-bottom: 6px solid transparent;
    padding-bottom: 24px;
}

nav.navbar ul li.active a {
    border-bottom: 6px solid #0030d0;

}

nav.navbar ul li a:hover {
    text-decoration: none;
    color: #0030d0;
}

nav.navbar {
    min-height: 76px;       
}

.container {
    max-width: 960px;
    padding: 0;
}

article .container {
    padding-top: 50px;
    padding-bottom: 170px;
}

article .container .col-sm-6 {
    padding: 0px 10px;
}

article .tile {
    height: 253px;
    border: 1px solid #d8d8d8;
    padding: 20px 20px 15px 20px;
    margin-bottom: 20px;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #6D6E71;
    line-height: 25px;
    cursor: pointer;
}

article .tile:hover {
    border: 1px solid #0030d0;   
}

article .tile a {
    color: #6d6e71;
    text-decoration: none;
}

article .tile a:hover {
    color: #6d6e71;
    text-decoration: underline;
}

article .tile h1 {
    font-family: "HelveticaNeue-Light","HelveticaNeue Light","HelveticaNeueLight","Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica-Neue-Light", Helvetica, Arial, sans-serif;
    font-size: 36px;
    color: #231F20;
    line-height: 44px;
    margin-top: 0;
    margin-bottom: 12px; 
    height: 44px; /* for dotdotdot */
}

article .tile .text-muted {
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #6D6E71;
    line-height: 25px;
    margin-bottom: 9px;
}

article .tile p  {
    padding: 0;
    margin: 0;
}

article .new {
    padding: 0;
}

article .new h1 {
    font-family: "HelveticaNeue-Light","HelveticaNeue Light","HelveticaNeueLight","Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica-Neue-Light", Helvetica, Arial, sans-serif;
    font-size: 36px;
    color: #231F20;
    line-height: 44px;
    margin: 0px 0px 4px;
    padding: 0 10px;
}

article .new p.text-muted {
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #6D6E71;
    line-height: 25px; 
    margin-bottom: 0px;
    padding: 0 10px;
}

article .new p.news {
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #6D6E71;
    line-height: 25px; 
    margin: 7px 0px 26px;
    padding: 0 10px;
}

article .new .accent {
    text-decoration: underline;
}

article .new .accent-low {
    font-style: italic;
}

article .new .accent-medium {
    font-weight: bold;
}

article .new .accent-high {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

article .new .accent-color {
    color: #004BD9;
}

article .new .fluid-gallery {
    margin-bottom: 33px;
}

article .new .fluid-gallery .col-xs-6 {
    padding: 0 10px;
}

.fluid-gallery .col-xs-12 {
    padding: 0 10px;
}

/* Fluidbox */
a[data-fluidbox] {
  background-color: #eee;
  border: none;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  margin-bottom: 1.5rem;
}
a[data-fluidbox].fluidbox-opened {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
a[data-fluidbox] img {
  display: block;
  margin: 0 auto;
  opacity: 0;
  max-width: 100%;
  transition: all .25s ease-in-out;
}

a[class^='float'] {
  margin: 1rem;
  margin-top: 0;
  width: 33.33333%;
}
a[class^='float'].float-left {
  float: left;
  margin-left: 0;
}
a[class^='float'].float-right {
  float: right;
  margin-right: 0;
}

#fluidbox-overlay {
  background-color: rgba(100, 100, 100, 0.85);
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
}

.fluidbox-wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  z-index: 400;
  transition: all .25s ease-in-out;
}
.fluidbox-opened .fluidbox-wrap {
  z-index: 600;
}

.fluidbox-ghost {
  background-size: cover;
  background-position: center center;
  position: absolute;
  transition: all .25s ease-in-out;
}
/* End of Fluidbox */

/*contact.html*/
article .contact {
    padding: 0 10px;   
}

article .contact h1 {
    font-family: "HelveticaNeue-Light","HelveticaNeue Light","HelveticaNeueLight","Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica-Neue-Light", Helvetica, Arial, sans-serif;
    font-size: 36px;
    color: #231F20;
    line-height: 44px;    
}

article .contact p {
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #6D6E71;
    line-height: 25px;    
}

article .contact p a {
    color: #004BD9;
    text-decoration: none;
}

article .contact p a:hover {
    color: #004BD9;
    text-decoration: underline;
}

article .contact-form {
    padding: 0 10px;
    width: 620px;
}

article .contact-form h1 {
    font-family: "HelveticaNeue-Light","HelveticaNeue Light","HelveticaNeueLight","Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica-Neue-Light", Helvetica, Arial, sans-serif;
    font-size: 36px;
    color: #231F20;
    line-height: 44px;    
}

article .contact-form .form-control {
    background: transparent;
    border: 2px solid #bbb;
    border-radius: 0px;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    color: #6d6e71;
    line-height: 18px;
    min-height: 50px;
    margin-bottom: 20px;
    box-shadow: none;
}

  .form-control::-webkit-input-placeholder {color:#bbb;}
  .form-control::-moz-placeholder          {color:#bbb;}/* Firefox 19+ */
  .form-control:-moz-placeholder           {color:#bbb;}/* Firefox 18- */
  .form-control:-ms-input-placeholder      {color:#bbb;}

/* Styleable Select */
.select.select-theme-default .select-content {
    border-radius: 0px; 
    box-shadow: none;
    background: white;
    font-family: inherit;
    color: inherit;
    overflow: auto;
    width: 600px;
    max-width: 600px;
}
    .select.select-theme-default .select-options {
    margin: 0;
    padding: 0; }
    
    .select.select-theme-default .select-options .select-option {
      margin: 0;
      font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      color: #6D6E71;
      line-height: 18px;
      padding: 1rem 1em 1rem 2.5em; }
      .select.select-theme-default .select-options .select-option.select-option-selected:before {
        content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='-0.5 0 20 15'><rect fill='#6D6E71' stroke='none' transform='rotate(45 4.0033 8.87436)' height='5' width='6.32304' y='6.37436' x='0.84178'></rect><rect fill='#6D6E71' stroke='none' transform='rotate(45 11.1776 7.7066)' width='5' height='16.79756' y='-0.69218' x='8.67764'></rect></svg>");
        }
      .select.select-theme-default .select-options .select-option:hover, .select.select-theme-default .select-options .select-option.select-option-highlight {
        background: #0030D0;
        color: white; }
      .select.select-theme-default .select-options .select-option:first-child {
        border-radius: 0px; }
      .select.select-theme-default .select-options .select-option:last-child {
        border-radius: 0px; }

    .select-target.select-theme-default {
        background: transparent;
        border: 2px solid #bbb;
        border-radius: 0px;
        min-height: 50px;
        width: 600px;
        margin-bottom: 20px;
        font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 16px;
        color: #BBB;
        line-height: 18px;
        padding: 14px 0px 14px 12px; }
      .select-target.select-theme-default:hover {
        border-color: #bbb;
        color: #6d6e71; }
      .select-target.select-theme-default.select-target-focused, .select-target.select-theme-default.select-target-focused:focus {
        border-color: #bbb; }
      .select-target.select-theme-default b {
        right: 10px;
        width: 18px;
        background: url("../img/chevron-down-thick.png") no-repeat; }
        .select-target.select-theme-default b:before {
          top: 0;
          border-bottom-color: transparent; }
        .select-target.select-theme-default b:after {
          bottom: 0;
          border-top-color: transparent; }
/* End of Styleable Select */

article .contact-form textarea {
    min-height: 150px!important;   
}

article .btn.btn-primary {
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;  
    height: 50px;
    width: 170px;
    border-radius: 0px;
    background: #0030D0;
}
/* End of contact.html */

/* products.html */
.container.products {
    padding: 0;
    margin: 0 auto;
    width: 960px;
}

.submenu .nav-tabs {
    text-align: center;
    background: #2e2a2b;
    height: 38px;
}

.submenu .nav-tabs>li {
    float: none;
    display: inline-block;
}

.submenu .nav-tabs {
    border-bottom: none;
}

.submenu .nav-tabs>li>a,.submenu .nav-tabs>li.active>a, 
.submenu .nav-tabs>li.active>a:hover {
    border: none;
    border-radius: 0px;
    background: #2E2A2B;
    padding: 10px 0px 3px 0px;
    margin: 0 9px;
    display: inline-block;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 19px;
}

.submenu .nav-tabs>li.active>a, .submenu .nav-tabs>li.active>a:hover {
    border-bottom: 6px solid #0030d0;
}
    .submenu .nav-tabs>li>a:hover {
        color: #6D6E71;
    }

.tab-content {
    width: 960px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 170px;
}

.tab-pane .col-xs-4, .tab-pane .col-xs-8, .tab-pane .col-xs-12 {
    padding: 0 10px;
}

.tab-pane h1 {
    font-family: "HelveticaNeue-Light","HelveticaNeue Light","HelveticaNeueLight","Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica-Neue-Light", Helvetica, Arial, sans-serif;
    font-size: 36px;
    color: #231F20;
    line-height: 44px;
    margin: 31px 0px 4px 0px;
}

.tab-pane p {
    /* Представляю дистрибу: */
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #6D6E71;
    line-height: 25px;
}
.tab-pane .dnld-links table {
    margin-top: 75px;
    margin-left: 16px;
    /* table-layout: fixed; */
    
}

.tdmd5 {
    width: 190px; 
    word-wrap: break-word;
    word-break: break-all;
}

.feautures {
    margin-bottom: 10px;
}

.feautures p {
    margin-top: 15px;   
}

.feautures .bold {
        width: 210px;
}

.sys-requires table {
    margin: 20px 0px 0px 16px;
}

.sys-requires .bold-small {
    width: 173px;
}

.collapse {
    margin-top: 10px;   
}

.collapsing {
    margin-top: 10px;
}

.tab-pane td.bold {
    /* Оконный менеджер:: */
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #6D6E71;
    line-height: 25px;
}
.tab-pane td.normal {
    /* Metacity + Compiz: */
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #6D6E71;
    line-height: 25px;   
}
.tab-pane td.bold-small {
    /* Зеркало 1:: */
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #6D6E71;
    line-height: 22px;    
}

.tab-pane td.normal-small {
    /* Яндекс.Диск: */
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #6d6e71;
    line-height: 22px; 
    word-wrap: break-word;
}

.tab-pane td a, .tab-pane td a:hover {
    /* Яндекс.Диск: */
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #004BD9;
    line-height: 22px;
    text-decoration: none;
}

.tab-pane a.more {
    /* Раскрыть полный спис: */
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #0030D0;
    line-height: 25px; 
    text-decoration: none;
}
/* End of products.html */
/* newsfeed.html>pagination */
nav .pagination {
    padding: 0;
    margin: 0 0 8px;
    height: auto;
}


nav .pagination li a{
    border: none;
    margin: 0;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #6D6E71;
    line-height: 17px;
    height: 23px;
    width: 23px;
    padding: 2px 7px 3px;
    margin-right: 7px;
}

nav .pagination li a:hover{
    background: #FFF;
    color: #0030d0;
}

nav .pagination li.active a {
    border: none;
    font-weight: bold;
    background: #0030d0;
}

nav .pagination li.active a:hover {
    background: #0030d0;   
}

nav .pagination li.disabled a {
    color: #bbbbbb;
}
/*newsfeed.html>paginator*/

.info {
    min-height: 250px;
    background: #2e2a2b;
    padding-top: 66px;
}

.info .container {
    padding: 0px 10px;
}

.info a.logobw {
    display: block;
    height: 52px;
    width: 93px;
    background: url('../img/logo_bw.png');
}

.info .copy {
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 14px;
    margin-top: 10px;   
}

.info h4{
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 19px;
    margin-top: 5px;
}

.info ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.info ul li a{ 
    text-decoration: none;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 18px;
}

.info ul li a:hover {
    text-decoration: underline;
}

.info h5 {
    font-family: "HelveticaNeue-Medium","HelveticaNeue Medium","HelveticaNeueMedium","Helvetica Neue-Medium", "Helvetica Neue Medium", "Helvetica-Neue-Medium", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 21px;
}

.info .col-xs-3 {
    padding: 0;
}

.info .col-xs-3.cost {
    padding-left: 40px;
}

.info .col-xs-2 {
    padding: 0;
}

.info .lastnew {
    height: 110px;
    max-width: 210px;
}

.info .lastnew a {
    color: #fff;
    text-decoration: none;
}

.info .lastnew a:hover {
    color: #fff;
    text-decoration: underline;
}

.info .lastnew p {
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
}

.info .text-muted {
    margin: 0; 
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #d8d8d8;
    line-height: 21px;
}

.info .subscribe h5 {
    float: left;
    width: 150px;
}

.info .subscribe i.icon-rss {
    margin-left: 13px;
}

.info input {
    background: transparent;
    box-shadow: none;
    border: 2px solid #fff;
    height: 30px;
    width: 160px;
    padding: 6px 11px 6px 8px;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #D8D8D8;
    line-height: 18px;
    font-style: italic;
}

.info .online {
    margin-top: 15px;
    color: #fff;
}

.info .online a {
    text-decoration: none;
    color: #e3e3e3;
}

.info .online a:hover{
    text-decoration: none;
    color: #55acee;
}

.info .online h5 {
    margin-bottom: 8px;
}

.dev {
    min-height: 50px;
    background: #000;
    padding-top: 5px;
}

.dev .container {
    padding: 0px 10px; 
}
 
.dev p {
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica-Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 16px;
    padding-top: 12px;
}

.dev a.logo.parkside {
    display: inline-block;
    height: 40px;
    width: 35px;
    background: url('../img/parkside_logo.png');
    margin-left: 8px;
}